<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.placementapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentViewsSelectedStudents"></activity>
        <activity android:name=".StudentWork" />
        <activity android:name=".Papers" />
        <activity android:name=".AddedStudents" />
        <activity android:name=".Notifications" />
        <activity android:name=".Company" />
        <activity android:name=".AdminSignUp" />
        <activity android:name=".TPOWork" />
        <activity android:name=".AdminAddsTpo" />
        <activity android:name=".AdminAddsStudent" />
        <activity android:name=".AdminWork" />
        <activity android:name=".Student" />
        <activity android:name=".TPO" />
        <activity android:name=".Admin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>